@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Segoe UI', Arial, sans-serif;
  background: #fff;
  color: #111;
}

code {
  font-family: 'Courier New', monospace;
  color: #111;
  background: #fff;
}
