.book-create-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #4db6ac;
    padding: 20px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    height: auto;
    min-height: 80px;
    margin-top: 150px;
}

.book-create-form {
    background-color: #4db6ac;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}

.book-create-container h3{
    color: white;
    font-size: 20px;
}

.book-create-form label {
    display: block;
    font-size: 10px;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
}

.book-create-form .input {
    width: 100%;
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    margin-bottom: 15px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}



.book-create-form .input:focus {
    outline: none;
    border-color: #6bbf7d;
    box-shadow: 0 0 0 3px rgba(107, 191, 125, 0.1);
}

.book-create-form .button {
    max-width: 100px;
    background-color: #ffff;
    color: black;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
}